@font-face {font-family: "tyh";
  src: url('//at.alicdn.com/t/font_2403041_gt2uvpxe35f.eot?t=1615123408884'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2403041_gt2uvpxe35f.eot?t=1615123408884#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAWwAAsAAAAACrQAAAVhAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDVgqIUIcgATYCJAMcCxAABCAFhDEHVRspCciOxHR7gzzCJMkX8fC0Rnt/Z1bOREISTYd5tKQNkoUEnURIeEkkOtlLuKt36u/5ZJIUQDtFFRgMbd9jQYEUSwaSqhhatr8CKqBTJCclwAeALX91MnE5/nVeYGsBwDfW5jG3BRZwQHtjGyTwKLGEPAvx7GVSvgJ2mkCrSZ2hI+d7LFhkfFIgHgZ8IlgcGjkCExp5FbAyQ7wFo6aoNtwB8Eb7fPyHnmEBhTIBP+viA4cEw38Zf2+PUw0pmJzSkCrOhOs6EtaBTLwItDyHDfc6rPV9CeEUaNco5F/G32b+9vNvz35v39CAA/5fwG2hndydqDr1h1dISqICJmkHctNT8csocSzpTKgEpD9DJUP6P1QKSJ+BSeJ3+zQlqJUVnZgGcQMgvgOXrWuWUqKdG63jBCbzaZuVtlsbETlFpYhGOQhKCwGVleA95vB1Ne1jK4tri6U+41OrKI9uW2mrFXZP1qdpTuJZgUuyvFCrl3CrUmoa6TYrKJ2pKWZXxtxrzpMn7NOn3OefC599NoGE1hi+F9yoTcTjm6sDRpEoZ/qRB6mH+uP0o2TgFJROotC1oY/Snz7WP36Y+ujMaKBu19V8njQnQ9I4U0eS2+3jyZW7wfAqW1Kg77JNWzeTMpB5uZjSG0+iAvbMmbPjYlNi/YXWJMuTOy81M2663E7JrUZEXIIpLqt3Eqjq1hs/+0wlU9mT+ul6tPZczRnR1kW67lTNid0XkdKonTDPGiho3cGNBYorMwj8UCRo+wJ/DfHhoaixwMHg6yAEt+asfj5dlIiLKbousU/iO6nupZ3cuzfpTm7a5LCVImy02+gGuqzM1CMfyk8cBRs3Jt1Hnj795x82v8Xb/BO7dt1cF48/eRqLJ+3JZ6J91nmA9mfv3hnaBrvai4bpZMsSP/xAZAlVWLLAmuGyov3SxIfuHohVVRZCdNIilvWffuNFuVTs+GFZJVfJSvwcsDiLWSofezT1Z8ZJ4zJSxtQ5sXfT3pubbyrJicGm2nTuNx/dpnc4/REMudx6b2HrDnm986uHb/5ywfVno/K/zh/1DNFDOy1rPnyAqrZd0fbiJyvGlGz5asGHHfJH/VAGfe62enbEBPWXZ2+nThZ2ePvssBmqr8/qJ+9xoWl+9AGIqJrgQg9HjbrhviE3PgxYu+G4s6ibobWhWxHtG+wb3cQhaftudxS+7g+fLXV80mTb3szetZuafuKs+ureZ+f6fXbq2+8l5/KC/r85Gi9ffsazvPcIc+sRI6QzX3jOXKgcjX/rrwTDzVNP59PcQPrdFt8N+muQkB20cZCz/cDxAxXjoDODIAFwliIgvQY4e4uXYpuG20dAeuVdhFdi7YAf5UtJaNG0vMGvLdSfoONn8NUDxi+Gc9RKJeYe3tyEDfnD59o6v8pLIwVql5EcHBqtVsFh7ej1XXGygcTRhGTgRCrUhklJMgVkZJZUarNAqiTbpFZreq1v02cqLLIVWDVDEAVk70AqdHpPSiofgIx8I5UGnRZVJPsBUqvrPt+xzWJ0IUdpshiTJaZ8FhPwKFGv2DdGxmb5P5F98bCoGSz042WtIqBEmR5duzt8Ljkqa8nnVCR8PWMxL+PVlAjjTNlbDocVRtWUoOyJdRWiYurAbt28QS/q6lEiQDqkkYliZBJGuVkYAR6KKK9iiiGl9bP4fULmExcm0rxcZuLJb0uFQOJoRg9ddQ8GXJJoVMkqkisk+PQUI5MXIzk1ishJ5qzUJAuf3AqGGuwMknkY1DU4RjVQN9bKm1TStfGyyJyUmU1l+GF1GBBGBDIiEzIjCzRPxei0nk/EUTFqiCbwbHWhcUZAFRWzP64EA2IUAAAAAA==') format('woff2'),
  url('//at.alicdn.com/t/font_2403041_gt2uvpxe35f.woff?t=1615123408884') format('woff'),
  url('//at.alicdn.com/t/font_2403041_gt2uvpxe35f.ttf?t=1615123408884') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_2403041_gt2uvpxe35f.svg?t=1615123408884#tyh') format('svg'); /* iOS 4.1- */
}

.tyh {
  font-family: "tyh" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tyh-pan_icon:before {
  content: "\e678";
}

.tyh-nan:before {
  content: "\e6ef";
}

.tyh-nv:before {
  content: "\e6f0";
}

.tyh-zan:before {
  content: "\e6e3";
}

.tyh-qipao:before {
  content: "\e728";
}

.tyh-huojian:before {
  content: "\e605";
}
