@font-face {font-family: "tyh";
  src: url('//at.alicdn.com/t/font_2403041_z2608tvpeuj.eot?t=1615035369936'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2403041_z2608tvpeuj.eot?t=1615035369936#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAATsAAsAAAAACcAAAASeAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDQAqHBIYBATYCJAMYCw4ABCAFhDEHShtlCBFVnKPJfh7YtpZy2NGea7tIbwSVfn3Of/rNt3MZIGR4LgKkKisiyVfFU1fP2/XWP7O1acc2KkIxHefBd6nJyMPOE8Jota0SdQ2ABgggcHtwLPXTvsHq7AEgsii67cEe+IE6gWobDnw0sIn5Ftm1Jy7Y94EAcIQhBVRT16JBgQhjGQGgTz4cORhKQguxgkxQFHLBXhE0GWsowhjhHGaY5P08/Q2HFECAxGCs7RhROwwVDqkngVmdVtwcBHjDmQFwhwAGIAWACNA3hdbPwIJAChi4cruIKgAcCgQIDsnx1PGiJ8HpVDH/Czck5Sh1GfxfHgNBgAiQDEPqAtgWlwQ4LG4kewpqMJD9D2oQyF4AEwSgJ4H/fJTygHOCAQoC6AcYuBhIGZ6hgLv4m10CzEGiq7cfuZArRfJWRLVZhIt+vnZNu35dv3nTcuNGbw5OFeuRZsXEBvzmeGE1J9dB2y5ZL4+7arvSDNWfhXepdKLsiq376rjOy9aOfTVQ+6wZqz7o5xnchc1Yw/mygF582iosrKt9Pcet9B849wdV4O5uTB0X3FctuND15+WHQ8V5h2K4ZvAVR8KkhUfjP3ebRiyysaq+elyyRZ3usHTjxhfcunr3uL1rac6BsfsGx0awrdkzdtcqVvz5os5ihiao4GUs2KLqgYLFKCOLdykMnYxPyijYoqPEgIX02fvHHbQNJdZrig2LQyP7Zkcw/9Xio0fiamQ5bFsYrak308ZhfS43ZJL2xRcaiIjWkUYmDzr1asgwn9pHU0bpozRLjh4obDVjuwK4IPSDGc3DmmcMmyGnfLd+4frTi047ud+VyDNtbvc6zuJ32NuB0q6Y9V4xie45HmMqFt3+/eSLao+7HtUvyKUseUp4ReEXX8RNjTvcNbXRd/Gd39sTPaofBSJ3aPSLbTJMW1+8H9CPOuP9i60myNterO23rp4GfkBtMFluVj1drq4+1XDK7r5ccHD+zjrvdCFGSPd2GVkysiYkIY1TBmu95K/Ajcm1XSFL189YP2dhaFfd6DsXbhzIv7Hn/sNhdXbPAkdtsN2+b6g9p9IUU1k5bN+tofvsdvA6Cj7/KIZJGLDXw0Uvwr+PfFD8V7FldfGC4rqEol5Fn0vF+4rxCQDA+Z5NZv4edYMIZg1NYNPYV7/lPNj/3VUD3UveKup3GLr34bw/ic45oTn335IxofB+Ql7DLlEVGDp5cn1rLggg6zrAW9SCR1U/n9PLfyi5b+NUgDC+NAhMAoBhwpEiNgokqliQMRnAJXMPq7w9lmhmAElaSkwgnwsgcLMYGNlGpIjdDhI/X7GM8ssAnPE7UxVXKq9mDAUTiN6Qx9Qoc6Ic5J0dMe2rkAM2TLoidzk1YBtWIhxgg9x8QzekjogCxVSD33I8VhWBZiowFoNKEe2Zpip6khFTPTuoZgwFExC9QR5ToxyzHKzD7+yIaV+FnOUR8xUVa5c3TgU2g1WMDKRNVd0pNnVD6hBRYPmYaiL3JzVjhQECuriwwFgMEivaY5J+qqnUWLy8vo9y3KYGxrlyAjESSSKZTGAPm0UzLD/u1nWb65C2WU9FHjazGQAA') format('woff2'),
  url('//at.alicdn.com/t/font_2403041_z2608tvpeuj.woff?t=1615035369936') format('woff'),
  url('//at.alicdn.com/t/font_2403041_z2608tvpeuj.ttf?t=1615035369936') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_2403041_z2608tvpeuj.svg?t=1615035369936#tyh') format('svg'); /* iOS 4.1- */
}

.tyh {
  font-family: "tyh" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tyh-nan:before {
  content: "\e6ef";
}

.tyh-nv:before {
  content: "\e6f0";
}

.tyh-zan:before {
  content: "\e6e3";
}

.tyh-qipao:before {
  content: "\e728";
}

.tyh-huojian:before {
  content: "\e605";
}
