*{
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-image: url(https://wx1.sinaimg.cn/large/007LmPOmly1go95lt6cz6j31hc0u0hdt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
