*{
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-image: url(http://r.photo.store.qq.com/psc?/V52OzcjM296N4D3IEo5e1DfOQZ1pM1IO/45NBuzDIW489QBoVep5mcSaKWOmFSJoMJUY45e6kJ2JByoQl1J4TuWYUaHXDjpOZ2oQf3lWi5Jsg5CBTksk*wnMNZEgrHXd4cJVz3Li2Jp8!/r);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
